.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form {
  width: 65%;
  border: 5px dotted black;
  margin: 20px auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .field {
  border: 2px solid green;
  width: 85%;
  margin: 5px auto;
}

form .login-label-remember {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  margin: 5px auto;
}

form .login-label-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .login-submitBtn {
  border: 1px soild blue;
  width: 45%;
  color: green;
  background: lightblue;
}

.signup-label-remember {
  border: 1px solid blue;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-label-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
}

.signup-submitBtn {
  color: green;
  background: lightblue;
  margin: 5px auto;
}

.entry-label-stamped {
  border: 1px solid pink;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entry-field-stamped {
  border: 1px solid red;
}

.entry-label-btn {
  width: 100%;
}

.entry-label-btn button {
  color: blue;
  background: lightgreen;
  width: 100%;
}

.error {
  color: red;
}

.explore-search {
  background: pink;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore-search .form-input {
  width: 80%;
  margin: 3px auto;
}

.explore-search .form-location {
  width: 80%;
  margin: 3px auto;
}

.explore-search .form-btn {
  color: blue;
  width: 47.5%;
  margin: auto;
}

.explore-list {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.explore-list .explore-card {
  border: 2px solid green;
  width: 45%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.explore-list .explore-card .explore-img {
  height: 100px;
  width: 100px;
  margin: 5px auto;
}

.explore-list .explore-card h3 {
  color: green;
  margin: 5px auto;
}

.explore-list .explore-card .explore-card-address {
  color: blue;
  margin: 5px auto;
}

.explore-list .explore-card .explore-card-number {
  color: aquamarine;
  margin: 5px auto;
}

.explore-list .explore-card .explore-card-number a {
  text-decoration: none;
  -webkit-text-emphasis: italic;
          text-emphasis: italic;
  color: aquamarine;
}

.explore-list .explore-card .explore-card-website {
  margin: 5px auto;
}

.explore-list .explore-card .explore-card-website a {
  text-decoration: none;
  color: red;
}

.explore-list .explore-card button {
  margin: 3px auto;
  background: lightblue;
}

.passport-list {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant-card-back {
  border: 2px solid purple;
  width: 45%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-card-back img {
  height: 100px;
  width: 100px;
  margin: 5px auto;
}

.restaurant-card-back h3 {
  color: blue;
}

.restaurant-card-back p {
  margin: 5px auto;
}

.restaurant-card-back .card-back-date {
  color: greenyellow;
}

.restaurant-card-back .card-back-address {
  color: blue;
}

.restaurant-card-back .card-back-number {
  color: aquamarine;
}

.restaurant-card-back .card-back-number a {
  text-decoration: none;
  color: aquamarine;
}

.restaurant-card-back .card-back-website {
  color: red;
}

.restaurant-card-back .card-back-website a {
  text-decoration: none;
}

.restaurant-card-back .card-back-rating {
  color: purple;
}

.restaurant-card-back .card-back-notes {
  color: lightblue;
}

.restaurant-card-back .card-back-stamped {
  color: grey;
}
/*# sourceMappingURL=App.css.map */