.nav-container
    display: flex
    justify-content: space-around

//! Login Form
.login-form
    border: 2px dotted black
    width: 30%
    margin: auto
    margin-top: 20px
    padding: 10px
    display: flex
    flex-direction: column

    .login-label-email
        border: 1px solid green
        width: 100%
        margin: 20px 10px

    .login-label-password
        border: 1px solid lawngreen
        width: 100%
        margin: 10px 10px
    .login-label-remember
        border: 1px solid red
        width: 100%
        margin: 10px 10px
    .login-submitBtn
        border: 1px soild blue
        width: 30%
        color: green
        background: lightblue
        margin: 10px 10px

//! SignUp Form
.signup-form
    border: 2px dotted black
    width: 35%
    margin: auto
    margin-top: 20px
    padding: 10px
    display: flex
    flex-direction: column

    .signup-label-fname
        border: 1px solid pink
        margin: auto
    .signup-label-lname
        border: 1px solid red
    .signup-label-email
        border: 1px solid orange
    .signup-label-password
        border: 1px solid purple
    .signup-label-location
        border: 1px solid green
    .signup-label-remember
        border: 1px solid blue
    .signup-submitBtn
        color: green
        background: blue

//! Entry Form
    .entry-form
        border: 2px solid black
        .entry-label-date
            border: 1px solid purple
        .entry-label-name
            border: 1px solid green
        .entry-label-address
            border: 1px solid blue
        .entry-label-city
            border: 1px solid yellow
        .entry-label-state
            border: 1px solid orange
        .entry-label-zip
            border: 1px solid red
        .entry-label-number
            border: 1px solid lawngreen
        .entry-label-website
            border: 1px solid rebeccapurple
        .entry-label-rating
            border: 1px solid lightblue
        .entry-label-notes
            border: 1px solid aquamarine
        .entry-label-stamped
            border: 1px solid pink

.error
    color: red

//! Explore
.explore-img
    height: 100px
    width: 100px

.explore-card
    border: 2px solid green
    width: 45%
    margin: auto

.explore-list
    width: 98%
    display: flex
    flex-wrap: wrap
