@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");

* {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Slabo 27px", serif;
  font-size: 62.5%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

a,
p {
  font-size: 1rem;
}

.App {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.login-signup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.explore-search,
.login-form,
.signup-form {
  margin: 0 auto;

  display: flex;
  flex-flow: column;
  width: 400px;
}

.form-location,
.form-input,
.field {
  border: 0;
  height: 20px;
  padding: 5px;
  margin: 1px;
  background-color: #23253a22;
  /* text-align: center; */
}

.form-btn {
  width: 100%;
  border: 0;
  height: 30px;
  padding: 5px;
  margin: 1px;
  background-color: #23253a;
  color: white;
  text-align: center;
}
